<div class="form-box">
  <form class="form">
      <span class="title">Password forgotten</span>
      <div class="form-container">
        <input type="email" class="input" placeholder="Your email">
        <input type="password" class="input" placeholder="password">
      </div>
      <button (click)="submit()">Send</button>
        
      </form>
      <div class="form-section">
        <p>you forgot your password ? <a (click)="navigate()">password Forgotten</a></p>
    </div>
    
  
  </div>